/* Colors Variables */

// $main-color: #9EB5B6;
// $main-color-alternate: #597B8E;
// $main-color-alternate-2: #285072;
// $secondary-color: #e5e5e5;
// $secondary-color-alternate: #cccccc;
// $secondary-color-alternate-2: #b3b3b3;

$main-color: #00326b;
$main-color-alternate: #001c4a;
$main-color-alternate-2: #070a35;
$secondary-color: #f7f7f8;
$secondary-color-alternate: #edeef0;
$secondary-color-alternate-2: #e4e8ea;

$light: #fff;
$dark: #000;
$grey: #e4e8ea;

$search-criteria: #ffffcc;
$obligatory-criteria: #ffe0c0;
$disabled: #d5d5d5;
$disabled-alternate: #c4c4c4;
$disabled-alternate-2: #b3b3b3;
$radius-px: 30px;

$light-grey: #F7F7F8;
$dark-grey: #EDEEF0;

$light-blue-2: #064685;
$light-blue-1: #00326B;
$blue: #001C4A;
$dark-blue-1: #0B1844;
$dark-blue-2: #070A35;

/* Fonts Variables */
/* Font Size */
$font-size-3x-s: 6px;
$font-size-2x-s: 8px;
$font-size-x-s: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-x-l: 18px;
$font-size-2x-l: 20px;
$font-size-3x-l: 22px;
$font-size-4x-l: 24px;
$font-size-5x-l: 26px;
$font-size-6x-l: 28px;
$font-size-7x-l: 30px;
$font-size-8x-l: 32px;
$font-size-9x-l: 34px;
$font-size-10x-l: 36px;
$font-size-11x-l: 38px;
$font-size-12x-l: 40px;
$font-size-13x-l: 42px;
$font-size-14x-l: 44px;
$font-size-15x-l: 46px;
$font-size-16x-l: 48px;
$font-size-17x-l: 50px;
$font-size-22x-l: 60px;

/* Font Weight */
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-bold:          700;

/* Distance Variables */
$distance-2x-s: 5px;
$distance-x-s: 10px;
$distance-s: 15px;
$distance-m: 20px;
$distance-l: 25px;
$distance-x-l: 30px;
$distance-2x-l: 35px;
$distance-3x-l: 40px;
$distance-4x-l: 45px;
$distance-5x-l: 50px;
$distance-6x-l: 55px;
$distance-7x-l: 60px;
