body {
    form.custom-form {
        &.item-form {
            padding-top: 75px;
        }
    }

    .item-actions-header {
        position: fixed;
        top: 70px;
        width: 100%;
        z-index: 100;

        .button-container {
            text-align: center;
            margin-bottom: 0;
        }

        .lock-button {
            .lock-icon {
                display: none;
            }

            &.locked {
                .lock-icon {
                    display: block;
                }

                .unlock-icon {
                    display: none;
                }
            }
        }
    }

    .checkbox {
        input:disabled:before {
            background-color: #ddd;
        }
    }

    .resource-container {
        h4 {
            color: $main-color-alternate-2;
        }

        .resource-actions {
            .button-container {
                margin-bottom: 0;
                padding: 0 $distance-x-s;

                &.top-margin {
                    margin-top: $distance-x-s;
                }

                button {
                    padding: 0;
                    height: $distance-2x-l;
                }
            }
        }

        .message {
            margin-top: $distance-x-s;
            font-size: $font-size-l;
            font-weight: $font-weight-bold;
        }
    }
}
