<ion-view>
    <ion-content class="content-container" set-content-height>
        <div class="relative-parent" style="height: 100%;">
            <div class="home-logo vertical-centered">
                <div class="relative-parent" style="height: 100%;">
                    <img ng-src="img/logo-blue.png">
                    <div class="slogan">
                        Líder en soluciones para<br>la gestión digital
                    </div>
                    <div class="link">
                        <a href="http://www.new.vivatia.com/">
                            www.vivatia.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
