<ion-view cache-view="false" hide-back-button="true">
    <ion-content class="content-container no-padding">
        <ion-list class="items-list">
            <ion-item class="list-item tray" ng-repeat="thubanTray in thubanTrays" item-render-buffer="" ui-sref="app.traysItemsList({trayName: thubanTray.trayName})">
                <div class="resource-icon has-resource vertical-centered">
                    <span>T</span>
                </div>
                <div class="name" ng-if="!thubanTray.hasContent">
                    {{thubanTray.trayName}}
                </div>
                <div class="name" ng-if="thubanTray.hasContent">
                    {{thubanTray.trayName}} ({{thubanTray.count}})
                </div>
                <i class="fa fa-chevron-right static-icon" aria-hidden="true"></i>
            </ion-item>
            <ion-item class="list-item item-complex slide-accordion in-list tray" slide-accordion accordion-header-height="60" ng-repeat="wf in wfTrays">
                <a class="item-content ac-header">
                    <div class="resource-icon has-resource vertical-centered">
                        <span>W</span>
                    </div>
                    <div class="name">
                        {{wf.name}}
                    </div>
                    <div class="icon-container">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="ac-body">
                    <div class="ac-body-item" ng-repeat="documentClass in wf.documentClasses">
                        <div class="slide-accordion in-list" slide-accordion accordion-header-height="50" has-accordion-father="true">
                            <div class="ac-header">
                                {{documentClass.name}}
                                <div class="icon-container">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="ac-body">
                                <div class="ac-body-item final" ng-repeat="tray in documentClass.trays" ng-click="executeTray(tray)">
                                    {{tray.Data.trayName}} ({{tray.Data.count}})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="absolute-centered no-results-container" ng-if="thubanTrays == undefined && wfTrays == undefined">
            <span>No existen bandejas activas.</span>
        </div>
    </ion-content>
</ion-view>
