<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLoginConfigurationModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <h1 class="title">Configuración</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="submitEndpoint()">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="content-container">
        <form class="custom-form">
            <label class="item item-input item-floating-label">
                <span class="input-label">Servidor</span>
                <input type="text" placeholder="Servidor" ng-model="configForm.serverInput">
                <div class="with-transition"></div>
            </label>
        </form>
    </ion-content>
</ion-modal-view>
